* {
    margin: 0;
    padding: 0;
}

@font-face {
    src: url('https://yastatic.net/s3/home/fonts/ys/4/text-black.woff');
    font-family: YSTextBlack;
}

@font-face {
    src: url('https://yastatic.net/s3/home/fonts/ys/4/text-medium.woff');
    font-family: YSTextMedium;
}

@font-face {
    src: url('https://yastatic.net/s3/home/fonts/ys/4/text-regular.woff');
    font-family: YSTextRegular;
}

.offer-container::before {
    position: absolute;
    content: '';
    display: block;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.offer-container {
    display: flex;
    justify-content: center;
    position: relative;
    min-width: 1440px;
    height: 804px;
    background: linear-gradient(90deg, rgba(255, 92, 77, 1) 0%, rgba(235, 70, 159, 1) 25%, rgba(131, 65, 239, 1) 50%, rgba(63, 104, 249, 1) 75%);
}

.offer-container::after {
    position: absolute;
    content: '';
    display: block;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.2);
    background-size: cover;
    z-index: 0;
}

.preposition {
    position: relative;
    z-index: 1;
}

.Ya-Go {
    position: relative;
    top: 125px;
}

.greetings {
    position: relative;
    top: 190px;
    width: 25%;
    font-family: YSTextBlack, sans-serif;
    font-size: 72px;
    line-height: 72px;
    color: rgba(33, 32, 31, 1);
}

.conditions {
    position: relative;
    top: 245px;
    width: 420px;
    z-index: 1;
    line-height: 31px;
    font-size: 1.5em;
    font-family: YSTextMedium, sans-serif;
}

.container-prices{
    display: inline-block;
    vertical-align: middle;
}

.candy {
    background: radial-gradient(circle, rgba(224, 184, 255, 1) 5%, rgba(182, 185, 255, 1) 95%);
    border-radius: 500px;
    padding: 8px 12px 8px 12px;
    font-size: 24px;
    width: 61px;
    display: inline-block;
    position: relative;
    z-index: 1;
}

.old-price {
    font-size: 16px;
    display: inline-block;
    width: 85px;
    text-decoration-line: line-through;
    background: radial-gradient(circle, rgba(224, 184, 255, 1) 5%, rgba(182, 185, 255, 1) 95%);
    padding: 7px 12px 8px 12px;
    border-radius: 500px;
    position: relative;
    text-align: right;
    z-index: 0;
    left: -47px;
    top: -3px;
}

.old-price::after {
    display: block;
    content: '';
    position: absolute;
    border-radius: 500px;
    top: 0;
    right: 0;
    bottom: 0px;
    left: 0;
    background: rgba(255, 255, 255, 0.63);
}

.main-images-container {
    position: absolute;
    height: 650px;
    top: 140px;
    left: 515px;
    overflow: hidden;
}

.samokat {
    width: 744px;
}

.community {
    position: relative;
    width: 207px;
    top: -345px;
    left: 195px;
}

.samokat-bkg {
    position: relative;
    width: 657px;
    top: -730px;
    left: -25px;
    opacity: 0.5;
    rotate: 140deg;
}

.subscribe {
    width: 318px;
    cursor: pointer;
    font-size: 24px;
    line-height: 22px;
    font-family: YSTextMedium, sans-serif;
    position: relative;
    top: 280px;
    padding: 24px 48px 24px 48px;
    border-radius: 36px;
    border: none;
    background-color: rgba(255, 222, 64, 1);
    box-shadow: 0 4px 98px 0 rgba(255, 222, 64, 0.35);
}
.subscribe:hover {
    background-color: #000000;
    color: #FFFFFF;
}

.opportunities {
    margin-top: 355px;
    font-family: YSTextBlack, sans-serif;
    font-size: 56px;
    color: rgba(33, 32, 31, 1);
    width: 670px;
    line-height: 48px;
}

.abilities-container {
    display: flex;
    margin-top: 50px;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 1000px;
}

.ability-block {
    position: relative;
    width: 40%;
    margin-right: 10%;
    margin-bottom: 5%;
}

.icon {
    display: block;
}

.zero {
    position: relative;
    left: -40px;
}

.ability-text {
    font-family: YSTextMedium, sans-serif;
    font-size: 24px;
    line-height: 29px;
    margin-top: 20px;
}

.scooter {
    position: relative;
    left: -55px;
}

.x-three {
    position: relative;
    top: -45px;
    left: -70px;
}

.watches {
    position: relative;
    left: -35px;
}

.battery {
    position: relative;
    left: -42px;
    top: -8px;
}

.exclusive {
    margin-top: 50px;
    font-family: YSTextBlack, sans-serif;
    font-size: 56px;
    color: rgba(33, 32, 31, 1);
    width: 670px;
    line-height: 48px;
}

.exclusive-text {
    margin-top: 50px;
    font-family: YSTextMedium, sans-serif;
    font-size: 24px;
    width: 42%;
    margin-bottom: 75px;
}

.gallery {
    display: flex;
    height: 100vh;
    margin-left: 5px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery-slider {
    display: none;
}

.image-gallery {
    border-radius: 64px;
}

.gallery-topper {
    position: relative;
    top: -235px;
    margin-left: 10px;
}

.markers {
    display: block;
    height: 55vh;
}

.geo {
    position: relative;
    top: -1140px;
    left: -225px;
}

.baloons {
    position: relative;
    top: -1555px;
    left: 240px;
}

.cup {
    position: relative;
    top: -1145px;
    left: 575px;
}

.offer-block {
    display: flex;
    overflow: hidden;
    max-width: 1140px;
    height: 670px;
    justify-content: space-between;
}

.offer-text {
    display: block;
}

.subscription {
    margin-top: 75px;
    font-family: YSTextBlack, sans-serif;
    font-size: 56px;
    color: rgba(33, 32, 31, 1);
    width: 495px;
    line-height: 48px;
}

.offer {
    margin-top: 50px;
    font-family: YSTextMedium, sans-serif;
    font-size: 24px;
    width: 85%;
    margin-bottom: 75px;
}

.block-plus {
    display: block;
}

.scooter-plus {
    position: relative;
    top: -140px;
    left: -125px;
}

.plus {
    position: relative;
    left: 45px;
    top: -745px;
}

.cloud-scooter {
    position: relative;
    top: -1172px;
    left: -146px;
    opacity: 0.29;
    z-index: -1;
}

.advantages-block{
    display: flex;
    overflow: hidden;
    max-width: 1140px;
    height: 670px;
    justify-content: space-between;
}

.benefit-block {
    display: block;
}

.benefit {
    margin-top: 50px;
    font-family: YSTextMedium, sans-serif;
    font-size: 24px;
    width: 65%;
    margin-bottom: 60px
}

.benefit-header {
    margin-top: 65px;
    font-family: YSTextBlack, sans-serif;
    font-size: 56px;
    line-height: 48px;
    color: rgba(33, 32, 31, 1);
    width: 495px;
}

.scooter-small-group {
    display: block;
    margin-top: 100px;
}

.scooter-small {
    width: 283px;
    height: 393px;
    margin-left: 90px;
}

.community-mini {
    width: 450.41px;
    height: 450.41px;
    position: relative;
    top: -420px;
}

.scooter-small-cloud {
    width: 413px;
    height: 369px;
    position: relative;
    top: -835px;
    left: 25px;
}

.scooter-mobile {
    display: none;
}

.season-ticket {
    width: 318px;
    cursor: pointer;
    font-size: 24px;
    line-height: 22px;
    font-family: YSTextMedium, sans-serif;
    position: relative;
    padding: 24px 48px 24px 48px;
    border-radius: 36px;
    border: none;
    background-color: rgba(255, 222, 64, 1);
    box-shadow: 0 4px 98px 0 rgba(255, 222, 64, 0.35);
}
.season-ticket:hover {
    background-color: #000000;
    color: #FFFFFF;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 35px;
}

.footer {
    display: block;
    max-width: 895px;
    font-family: YSTextRegular, sans-serif;
    font-size: 13px;
    line-height: 15.6px;
    color: rgba(197, 197, 197, 1);
}

.link {
    color: rgba(197, 197, 197, 1);
}

.rounded {
    border-radius: 48px;
}

.back {
    display: none;
}
.next {
    display: none;
}

@media (max-width: 640px) {

    .offer-container {
        min-width: 311px;
        height: 630px;
    }

    .Ya-Go {
        top: 32px;
        left: 32px;
        width: 112px;
    }
    .greetings {
        width: 311px;
        font-size: 36px;
        line-height: 32px;
        top: 65px;
        left: 32px;
    }
    .conditions {
        width: 311px;
        font-size: 18px;
        line-height: 23px;
        top: 100px;
        left: 32px;
    }

    .btn-container {
        display: flex;
        justify-content: center;
    }

    .subscribe {
        display: flex;
        justify-content: center;
        position: fixed;
        bottom: 8%;
        z-index: 2;
        width: 311px;
        font-size: 18px;
        line-height: 22px;
        padding: 18px 0px 18px 0px;
        align-items: center;
        top: 85%;
    }

    .main-images-container {
        scale: 0.5;
        top: 165px;
        left: -197px;
        display: block;
    }
    .community {
        position: absolute;
        width: 207px;
        top: 302px;
        left: 191px;
    }
    .container-prices {
        display: inline-flex;
        vertical-align: middle;
        height: 23px;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 55%;
    }
    .candy {
        font-size: 18px;
        width: 47px;
        height: 13px;
        line-height: 21px;
        display: flex;
        align-items: center;
    }
    .old-price {
        font-size: 13px;
        top: 0;
        left: -43px;
        width: 73px;
        height: 13px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .opportunities {
        width: 311px;
        position: relative;
        left: 32px;
        font-size: 32px;
        line-height: 32px;
        margin-top: 425px;
    }
    .abilities-container {
        width: 285px;
        position: relative;
        left: 32px;
    }
    .ability-block {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10%;
        display: flex;
        align-items: center;
    }
    .vector {
        width: 52px;
        height: 47px;
    }
    .icon {
        width: 50px;
        height: 50px;
    }

    .zero {
        width: 48.91px;
        height: 33.67px;
        top: -45px;
        left: 10px;
    }
    .scooter {
        left: 0;
        top: -50px;
        width: 53px;
        height: 45px;
    }
    
    .x-three {
        top: -115px;
        left: 35px;
        width: 23px;
        height: 17px;
    }
    
    .watches {
        top: -58px;
        left: 15px;
        width: 48px;
        height: 53px;
    }
    
    .battery {
        top: -40px;
        left: 25px;
        width: 41px;
        height: 24px;
    }
    .ability-text {
        font-size: 16px;
        line-height: 19.2px;
        margin-left: 20px;
        margin-top: 0;
    }
    .exclusive {
        font-size: 32px;
        width: 311px;
        line-height: 32px;
    }
    .exclusive-text {
        font-size: 16px;
        line-height: 19px;
        width: 300px;
    }
    .markers {
        display: none;
    }
    .gallery {
        display: none;
    }
    .gallery-slider {
        display: flex;
        width: 100%;
        overflow: hidden;
        margin-right: -60px;
        margin-bottom: 20px;
        position: relative;
        flex-direction: row;
        align-items: center;
    }
    .slider-resources {
        background-size: contain;
        width: 100%;
        height: auto;
        transition: transform 0.3s ease-in-out;
        transform: translateX(0%);
    }
    .buttons-bn-cont{
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    .back, .next {
        display: block;
        position: relative;
        border: none;
        width: 50px;
        height: 50px;
        background: none;
        background-image: url("../media/png/Ellipse1837.png");
        background-repeat: no-repeat;
        margin: 5px;
    }
    .back::before {
        background-image: url(../media/png/Vector252.png);
        background-repeat: no-repeat;
        width: 27px;
        height: 25px;
        content: "";
        display: block;
        position: relative;
        left: 12px;
    }
    .next::after {
        background-image: url(../media/png/Vector253.png);
        background-repeat: no-repeat;
        width: 27px;
        height: 25px;
        content: "";
        display: block;
        position: relative;
        left: 12px;
    }
    .offer-block {
        max-width: 300px;
        height: 430px;
        margin-left: 32px;
    }
    .advantages-block {
        max-width: 344px;
        height: 940px;
        flex-wrap: wrap;
    }

    .subscription {
        font-size: 32px;
        width: 275px;
        line-height: 32px;
    }
    .offer {
        font-size: 16px;
        line-height: 19px;
        width: 100%;
    }
    .scooter-small-group {
        display: none;
    }
    .block-plus {
        display: none;
    }
    .scooter-mobile {
        display: block;
        width: 360px;
        height: 374px;
    }
    .benefit-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: -60px;
    }

    .benefit-header {
        margin-top: 0;
        margin-left: 32px;
        width: 311px;
        font-size: 32px;
        line-height: 32px;
    }
    .benefit {
        width: 311px;
        font-size: 16px;
        line-height: 19.2px;
        margin-left: 32px;
    }
    .season-ticket {
        width: 311px;
        padding: 18px 0 18px 0;
        border-radius: 36px;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
    }
    .footer {
        font-size: 10px;
        line-height: 12px;
        width: 311px;
    }
}

@media (max-height: 900px) and (max-width: 640px) {
    .subscribe {
        display: none;
    }
}